* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  color: white;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #fff;
  margin-bottom: 4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
form input {
  margin-top: 0.4em;
  margin-bottom: 1.4em;
  padding: 0.8em;
  background: #f2f2f2;
  border: none;
}
form input::-moz-placeholder {
  color: #adadad;
}
form input:-ms-input-placeholder {
  color: #adadad;
}
form input::placeholder {
  color: #adadad;
}
form button {
  box-shadow: none;
  background: linear-gradient(45deg, #5f2c82, #49a09d, #46b0cb);
  padding: 1em;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 1rem;
  text-transform: uppercase;
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.5s;
}
form button:hover {
  background-position: 100% 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button,
input {
  font-size: inherit;
  letter-spacing: 1px;
  outline-color: #a43ce9;
}

label {
  color: #555;
  letter-spacing: 1px;
}

button {
  padding: 0.6em 1em;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#loadBtn {
  width: 100%;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
  background-color: #55608f;
}

tbody tr {
  transition: background-color 0.2s;
}
tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}